# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
venv3/pyvenv.cfg
venv3/requirements.txt
venv3/bin/activate
venv3/bin/activate.csh
venv3/bin/activate.fish
venv3/bin/chardetect
venv3/bin/coverage
venv3/bin/coverage-3.7
venv3/bin/coverage3
venv3/bin/doc8
venv3/bin/easy_install
venv3/bin/easy_install-3.7
venv3/bin/epyc-engine.sh
venv3/bin/epycluster.sh
venv3/bin/epylint
venv3/bin/f2py
venv3/bin/f2py3
venv3/bin/f2py3.7
venv3/bin/futurize
venv3/bin/get_objgraph
venv3/bin/ipcluster
venv3/bin/ipcontroller
venv3/bin/ipengine
venv3/bin/iptest
venv3/bin/iptest3
venv3/bin/ipython
venv3/bin/ipython3
venv3/bin/isort
venv3/bin/jsonschema
venv3/bin/jupyter
venv3/bin/jupyter-bundlerextension
venv3/bin/jupyter-console
venv3/bin/jupyter-kernel
venv3/bin/jupyter-kernelspec
venv3/bin/jupyter-migrate
venv3/bin/jupyter-nbconvert
venv3/bin/jupyter-nbextension
venv3/bin/jupyter-notebook
venv3/bin/jupyter-qtconsole
venv3/bin/jupyter-run
venv3/bin/jupyter-serverextension
venv3/bin/jupyter-troubleshoot
venv3/bin/jupyter-trust
venv3/bin/keyring
venv3/bin/livereload
venv3/bin/nosetests
venv3/bin/nosetests-3.4
venv3/bin/pasteurize
venv3/bin/pbr
venv3/bin/pip
venv3/bin/pip3
venv3/bin/pip3.7
venv3/bin/pkginfo
venv3/bin/port-for
venv3/bin/pybabel
venv3/bin/pygmentize
venv3/bin/pylint
venv3/bin/pyreverse
venv3/bin/python
venv3/bin/python3
venv3/bin/restructuredtext-lint
venv3/bin/rst-lint
venv3/bin/rst2html.py
venv3/bin/rst2html4.py
venv3/bin/rst2html5.py
venv3/bin/rst2latex.py
venv3/bin/rst2man.py
venv3/bin/rst2odt_prepstyles.py
venv3/bin/rst2odt.py
venv3/bin/rst2pseudoxml.py
venv3/bin/rst2s5.py
venv3/bin/rst2xetex.py
venv3/bin/rst2xml.py
venv3/bin/rstpep2html.py
venv3/bin/sphinx-apidoc
venv3/bin/sphinx-autobuild
venv3/bin/sphinx-autogen
venv3/bin/sphinx-build
venv3/bin/sphinx-quickstart
venv3/bin/symilar
venv3/bin/tox
venv3/bin/tox-quickstart
venv3/bin/tqdm
venv3/bin/twine
venv3/bin/undill
venv3/bin/virtualenv
venv3/bin/watchmedo
venv3/bin/wheel
venv3/etc/jupyter/jupyter_notebook_config.d/ipyparallel-serverextension.json
venv3/etc/jupyter/nbconfig/notebook.d/widgetsnbextension.json
venv3/etc/jupyter/nbconfig/tree.d/ipyparallel-nbextension.json
venv3/man/man1/nosetests.1
venv3/share/doc/networkx-2.4/LICENSE.txt
venv3/share/doc/networkx-2.4/requirements.txt
venv3/share/doc/networkx-2.4/examples/README.txt
venv3/share/doc/networkx-2.4/examples/3d_drawing/mayavi2_spring.py
venv3/share/doc/networkx-2.4/examples/3d_drawing/README.txt
venv3/share/doc/networkx-2.4/examples/advanced/plot_eigenvalues.py
venv3/share/doc/networkx-2.4/examples/advanced/plot_heavy_metal_umlaut.py
venv3/share/doc/networkx-2.4/examples/advanced/plot_iterated_dynamical_systems.py
venv3/share/doc/networkx-2.4/examples/advanced/plot_parallel_betweenness.py
venv3/share/doc/networkx-2.4/examples/advanced/README.txt
venv3/share/doc/networkx-2.4/examples/algorithms/hartford_drug.edgelist
venv3/share/doc/networkx-2.4/examples/algorithms/plot_beam_search.py
venv3/share/doc/networkx-2.4/examples/algorithms/plot_blockmodel.py
venv3/share/doc/networkx-2.4/examples/algorithms/plot_davis_club.py
venv3/share/doc/networkx-2.4/examples/algorithms/plot_krackhardt_centrality.py
venv3/share/doc/networkx-2.4/examples/algorithms/plot_rcm.py
venv3/share/doc/networkx-2.4/examples/algorithms/README.txt
venv3/share/doc/networkx-2.4/examples/basic/plot_properties.py
venv3/share/doc/networkx-2.4/examples/basic/plot_read_write.py
venv3/share/doc/networkx-2.4/examples/basic/README.txt
venv3/share/doc/networkx-2.4/examples/drawing/chess_masters_WCC.pgn.bz2
venv3/share/doc/networkx-2.4/examples/drawing/knuth_miles.txt.gz
venv3/share/doc/networkx-2.4/examples/drawing/lanl_routes.edgelist
venv3/share/doc/networkx-2.4/examples/drawing/plot_atlas.py
venv3/share/doc/networkx-2.4/examples/drawing/plot_chess_masters.py
venv3/share/doc/networkx-2.4/examples/drawing/plot_circular_tree.py
venv3/share/doc/networkx-2.4/examples/drawing/plot_degree_histogram.py
venv3/share/doc/networkx-2.4/examples/drawing/plot_degree_rank.py
venv3/share/doc/networkx-2.4/examples/drawing/plot_directed.py
venv3/share/doc/networkx-2.4/examples/drawing/plot_edge_colormap.py
venv3/share/doc/networkx-2.4/examples/drawing/plot_ego_graph.py
venv3/share/doc/networkx-2.4/examples/drawing/plot_four_grids.py
venv3/share/doc/networkx-2.4/examples/drawing/plot_giant_component.py
venv3/share/doc/networkx-2.4/examples/drawing/plot_house_with_colors.py
venv3/share/doc/networkx-2.4/examples/drawing/plot_knuth_miles.py
venv3/share/doc/networkx-2.4/examples/drawing/plot_labels_and_colors.py
venv3/share/doc/networkx-2.4/examples/drawing/plot_lanl_routes.py
venv3/share/doc/networkx-2.4/examples/drawing/plot_node_colormap.py
venv3/share/doc/networkx-2.4/examples/drawing/plot_random_geometric_graph.py
venv3/share/doc/networkx-2.4/examples/drawing/plot_sampson.py
venv3/share/doc/networkx-2.4/examples/drawing/plot_simple_path.py
venv3/share/doc/networkx-2.4/examples/drawing/plot_spectral_grid.py
venv3/share/doc/networkx-2.4/examples/drawing/plot_unix_email.py
venv3/share/doc/networkx-2.4/examples/drawing/plot_weighted_graph.py
venv3/share/doc/networkx-2.4/examples/drawing/README.txt
venv3/share/doc/networkx-2.4/examples/drawing/unix_email.mbox
venv3/share/doc/networkx-2.4/examples/graph/dot_atlas.py
venv3/share/doc/networkx-2.4/examples/graph/plot_degree_sequence.py
venv3/share/doc/networkx-2.4/examples/graph/plot_erdos_renyi.py
venv3/share/doc/networkx-2.4/examples/graph/plot_expected_degree_sequence.py
venv3/share/doc/networkx-2.4/examples/graph/plot_football.py
venv3/share/doc/networkx-2.4/examples/graph/plot_karate_club.py
venv3/share/doc/networkx-2.4/examples/graph/plot_napoleon_russian_campaign.py
venv3/share/doc/networkx-2.4/examples/graph/plot_roget.py
venv3/share/doc/networkx-2.4/examples/graph/plot_words.py
venv3/share/doc/networkx-2.4/examples/graph/README.txt
venv3/share/doc/networkx-2.4/examples/graph/roget_dat.txt.gz
venv3/share/doc/networkx-2.4/examples/graph/words_dat.txt.gz
venv3/share/doc/networkx-2.4/examples/javascript/force.py
venv3/share/doc/networkx-2.4/examples/javascript/README.txt
venv3/share/doc/networkx-2.4/examples/javascript/force/force.css
venv3/share/doc/networkx-2.4/examples/javascript/force/force.html
venv3/share/doc/networkx-2.4/examples/javascript/force/force.js
venv3/share/doc/networkx-2.4/examples/javascript/force/README.txt
venv3/share/doc/networkx-2.4/examples/jit/plot_rgraph.py
venv3/share/doc/networkx-2.4/examples/jit/README.txt
venv3/share/doc/networkx-2.4/examples/pygraphviz/plot_pygraphviz_attributes.py
venv3/share/doc/networkx-2.4/examples/pygraphviz/plot_pygraphviz_draw.py
venv3/share/doc/networkx-2.4/examples/pygraphviz/plot_pygraphviz_simple.py
venv3/share/doc/networkx-2.4/examples/pygraphviz/plot_write_dotfile.py
venv3/share/doc/networkx-2.4/examples/pygraphviz/README.txt
venv3/share/doc/networkx-2.4/examples/subclass/plot_antigraph.py
venv3/share/doc/networkx-2.4/examples/subclass/plot_printgraph.py
venv3/share/doc/networkx-2.4/examples/subclass/README.txt
venv3/share/jupyter/kernels/python3/kernel.json
venv3/share/jupyter/kernels/python3/logo-32x32.png
venv3/share/jupyter/kernels/python3/logo-64x64.png
venv3/share/jupyter/nbextensions/ipyparallel/clusterlist.css
venv3/share/jupyter/nbextensions/ipyparallel/clusterlist.js
venv3/share/jupyter/nbextensions/ipyparallel/main.js
venv3/share/jupyter/nbextensions/jupyter-js-widgets/extension.js
venv3/share/jupyter/nbextensions/jupyter-js-widgets/extension.js.map
venv3/share/man/man1/ipython.1.gz
