alabaster==0.7.10
Babel==2.5.3
backports-abc==0.5
backports.functools-lru-cache==1.5
backports.shutil-get-terminal-size==1.0.0
bleach==2.1.3
certifi==2018.1.18
chardet==3.0.4
configparser==3.5.0
cycler==0.10.0
decorator==4.2.1
dill==0.2.7.1
docutils==0.14
entrypoints==0.2.3
enum34==1.1.6
epyc==0.11.2
futures==3.2.0
html5lib==1.0.1
idna==2.6
imagesize==1.0.0
ipykernel==4.8.2
ipyparallel==6.1.1
ipython==5.5.0
ipython-genutils==0.2.0
ipywidgets==7.1.2
Jinja2==2.10
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.2
jupyter-console==5.2.0
jupyter-core==4.4.0
kiwisolver==1.0.1
MarkupSafe==1.0
matplotlib==2.2.0
mistune==0.8.3
nbconvert==5.3.1
nbformat==4.4.0
networkx==2.1
notebook==5.4.0
numpy==1.14.1
packaging==17.1
pandas==0.22.0
pandocfilters==1.4.2
pathlib2==2.3.0
pexpect==4.4.0
pickleshare==0.7.4
pkginfo==1.4.1
prompt-toolkit==1.0.15
ptyprocess==0.5.2
Pygments==2.2.0
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2018.3
pyzmq==17.0.0
qtconsole==4.3.1
requests==2.18.4
requests-toolbelt==0.8.0
scandir==1.7
scipy==1.0.0
seaborn==0.8.1
Send2Trash==1.5.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.7.1
sphinxcontrib-websupport==1.0.1
terminado==0.8.1
testpath==0.3.1
tornado==5.0
tqdm==4.19.6
traitlets==4.3.2
twine==1.9.1
typing==3.6.4
urllib3==1.22
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.1.4
