backports-abc==0.5
backports.shutil-get-terminal-size==1.0.0
decorator==4.3.0
dill==0.2.8.2
enum34==1.1.6
epyc==0.15.1
ipykernel==4.8.2
ipyparallel==6.2.2
ipython==5.7.0
ipython-genutils==0.2.0
jupyter-client==5.2.3
jupyter-core==4.4.0
networkx==2.1
numpy==1.15.0
pandas==0.23.3
pathlib2==2.3.2
pexpect==4.6.0
pickleshare==0.7.4
prompt-toolkit==1.0.15
ptyprocess==0.6.0
Pygments==2.2.0
python-dateutil==2.7.3
pytz==2018.5
pyzmq==17.1.0
scandir==1.7
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.11.0
tornado==5.1
traitlets==4.3.2
wcwidth==0.1.7
